menu "nuke ext4 sysfs"

config NUKE_EXT4_SYSFS
	tristate "nuke ex4 sysfs"
	default m
	depends on MODULES
	help
	  this LKM unregisters an ext4 sysfs node given with mount point.
	  Usage: 
	     "insmod nuke_sysfs.ko mount_point=/data/adb/modules symaddr=0xfffff12345"

endmenu
